<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
      <add name="MyConnection"
      connectionString="Server=tcp:server-ingsw.database.windows.net,1433;Initial Catalog=DataBaseINGSW;Persist Security Info=False;User ID=AlbertoGiuseppe;Password=mioServer123;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=5;" />
    </connectionStrings>
</configuration>